<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            ngModel
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            class="form-control"
            id="content"
            required
            ngModel
            name="content"
          ></textarea>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!postForm.valid"
        >
          {{ isEdit? "Edit" : "Send Post" }}
        </button>

    
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button
        class="btn btn-danger"
        [disabled]="loadedPosts.length < 1"
        (click)="onClearPosts()"
      >
        Delete Posts
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p *ngIf="loadedPosts.length < 1 && !isFetching && !error">No posts available!</p>
      <ul class="list-group" *ngIf="loadedPosts.length >= 1 && !isFetching">
        <li class="list-group-item" *ngFor="let post of loadedPosts">
          <h2>
            {{ post.title }}
          </h2>
          <p>
            {{ post.content }}
          </p>

          <button (click)="onDeletePost(post.id)" class="btn btn-danger">
            Delete
          </button>

          <button (click)="onEdit(post.id)" class="btn btn-success">
            Edit
          </button>
         
        </li>
      </ul>
      <p *ngIf="isFetching && !error">loading...</p>
      <div *ngIf="error" class="alert alert-danger">
        <h1>An Error Occured! </h1>
        <p>
          {{ error }}
        </p>
        <button class="btn btn-danger" (click)="error = null">
          Okay
        </button>
      </div>
    </div>
  </div>
</div>







<!-- <app-reactive-form></app-reactive-form> 
  ....
 <form [formGroup]="signupForm" (ngSubmit)="onReactiveSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="username" /> </mat-form-field
  ><br />

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" /> </mat-form-field
  ><br />

  <mat-radio-group aria-label="Select an option" formControlName="gender">
    <mat-radio-button value="male" color="primary">Male</mat-radio-button>
    <mat-radio-button value="female" color="primary">Female</mat-radio-button>
  </mat-radio-group>
  <br />
  <div formArrayName="hobbies">
    <h4>Your Hobbies</h4>
    <button mat-raised-button type="button" (click)="onAddHobby()">
      Add Hobby
    </button>
    <br />
    <ng-container *ngFor="let control of getControls(); let i = index">
      <mat-form-field appearance="fill">
        <input type="text" matInput [formControlName]="i" />
      </mat-form-field>
      <br />
    </ng-container>
  </div>
  <br />
  <button type="submit" mat-raised-button>Save</button>
</form> -->

<!-- <form #form="ngForm" (ngSubmit)="onSubmit(form, form.valid)">

<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput name="username" ngModel required>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Secret question?</mat-label>
    <mat-select name="secret" ngModel>
      <mat-option value="pet">favourite pet</mat-option>
      <mat-option value="car">car</mat-option>
      <mat-option value="cat">cat</mat-option>

    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput name="text" ngModel></textarea>
  </mat-form-field>
</div>

<button type="submit" [disabled]="!form.form.valid">
  Save
</button>

</form> -->
